*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f1f5f8;
  color: #222;
}

/* Book list */
.bookList {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

.book{
  background: #ffff;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center
}

.book img{
  width: 100%;
  object-fit: cover;
}

.book p {
  margin: 15px 0;
}

.book button {
  background-color: cyan;
  color: white;
  padding: 7px 25px;
  border: none;
  cursor: pointer;
}

.book button:hover{
  opacity: 0.5;
}


@media screen and (min-width: 768px) {
  .bookList{
     grid-template-columns: repeat(3, 1fr);
     align-items: start; 
  }
}